* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #17252A;
    font-size: 16px;
}


/* Page header area configuration */

header {
    background-color: #3AAFA9;
    color: #0B0C10;
    padding: 5px;
}

h1 {
    font-size: 24px;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: auto;
}


/* First section webpage - Background div */

.container__header {
    box-sizing: border-box;
    background-image: url(../images/motivationalspeaker.jpeg);
    background-repeat: no-repeat;
    overflow: hidden;
}

.container__header h2,
.container__header p {
    font-size: 16px;
    margin-bottom: 5px;
    padding: 12px;
}


/* First section webpage - Form div */

.container__header--submit {
    background-color: #1F2833BB;
    color: #C5C6C7;
    max-width: 30%;
    float: right;
    margin: 20px;
    padding: 12px;
}

input,
select {
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-style: none;
    margin-bottom: 3px;
    width: 100%;
    height: 40px;
    padding: 10px;
}

select {
    background-image: url(../images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

input[type="submit"] {
    border: 2px solid #17252A;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

input[type="submit"]:hover {
    color: #DEF2F1;
    border: 3px solid #C5C6C7;
    background-color: #3AAFA9;
}


/* Second section webpage - Speaker informations */

.container__speaker {
    background-color: #3AAFA9;
    color: #DEF2F1;
    padding: 30px;
    overflow: hidden;
    text-align: center;
}

.container__speaker p,
.container__speaker h2 {
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
}

.container__speaker img {
    width: 300px;
}

.container__speaker--content {
    display: inline-block;
    width: 400px;
}


/* Third section webpage - Other details about the speaker */

.author__more {
    box-sizing: border-box;
    background-color: #2B7A78;
    background-size: cover;
    color: #DEF2F1;
    overflow: hidden;
    width: 100%;
    padding: 30px;
    padding-left: 130px;
    margin-bottom: 50px;
}

.author__more img {
    border: 10px solid;
    /* padding-top: 50px; */
    width: 300px;
    margin-top: 44px;
    background-color: #DEF2F1;
}

.author__more--content {
    padding-top: 50px;
    width: 400px;
    float: left;
}

.author_more--content h2 {
    text-align: center;
}

.author_more--content h2,
.author_more--content p {
    margin-bottom: 10px;
}

ul {
    list-style-position: inside;
}


/* Responsive configurations */