* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #17252A;
    font-size: 16px;
}


/* Page header area configuration */

header {
    background-color: #3AAFA9;
    color: #0B0C10;
    padding: 5px;
}

h1 {
    font-size: 24px;
    text-align: center;
}


/* About the speaker area content */

.container {
    max-width: 1000px;
    margin: auto;
}

.container_submit {
    box-sizing: border-box;
    background-image: url(../images/motivationalspeaker.jpeg);
    background-repeat: no-repeat;
    overflow: hidden;
}

.container_submit h2,
.container_submit p {
    font-size: 16px;
    margin-bottom: 5px;
    padding: 12px;
}

.container_submit--block {
    background-color: #1F2833BB;
    color: #C5C6C7;
    max-width: 30%;
    float: right;
    margin: 20px;
    padding: 12px;
}

input,
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    border-style: none;
    margin: 3px;
    width: 100%;
    height: 40px;
    padding: 10px;
}

select {
    background-image: url(../images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

input[type="submit"] {
    margin-top: 10px;
}


/* More details about the speaker */

.container_speaker {
    background-color: #3AAFA9;
    color: #DEF2F1;
    padding: 30px;
    overflow: hidden;
    text-align: center;
}

.container_speaker p,
.container_speaker h2 {
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
}

.container_speaker img {
    width: 300px;
}

.container_speaker--content {
    display: inline-block;
    width: 400px;
}


/* Footer configurations */

.author_more {
    box-sizing: border-box;
    background-color: #2B7A78;
    background-size: cover;
    color: #DEF2F1;
    overflow: hidden;
    width: 100%;
    padding: 30px;
    padding-left: 130px;
    margin-bottom: 50px;
}

.author_more img {
    border: 10px solid;
    /* padding-top: 50px; */
    width: 300px;
    margin-top: 44px;
}

.author_more--content {
    padding-top: 50px;
    width: 400px;
    float: left;
}

.author_more--content h2 {
    text-align: center;
}

.author_more--content h2,
.author_more--content p {
    margin-bottom: 10px;
}

ul {
    list-style-position: inside;
}